
.Nav-Bar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    color: #fff;
}
.logo {
    width: 150px;
}
.Nav-Bar .Nav-Bar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.Nav-Bar .Nav-Bar-menu li {
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;

}
.Nav-Bar .Nav-Bar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
button {
    background-color:transparent;
    color: #49557e;
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
}
button:hover {
    background-color: #fff4ff;
}
.Nav-Bar .active {
    padding-bottom: 2px ;
    border-bottom: 2px solid #49557e;
}
.search-icon {
    position: relative;
}
.search-icon .dot {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: tomato;
    min-width: 10px;
    min-height: 10px;
    border-radius: 5px;
}
@media (max-width: 1050px) {
    .Nav-Bar .logo{
       width: 140px;
    }
 
    .Nav-Bar .Nav-Bar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .Nav-Bar .Nav-Bar-right {
       
        gap: 30px;
    }
    .Nav-Bar-right button {
        padding: 8px 25px;
    }
    .Nav-Bar .Nav-Bar-right img {
        width :22px;
    }
}
@media (max-width: 900px) {
    .Nav-Bar .logo{
       width: 140px;
    }
 
    .Nav-Bar .Nav-Bar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .Nav-Bar .Nav-Bar-right {
       
        gap: 20px;
    }
    .Nav-Bar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
    .Nav-Bar .Nav-Bar-right img {
        width :20px;
    }
}
@media (max-width: 750px) {
    .Nav-Bar .logo{
       width: 140px;
      
    }
    .Nav-Bar .Nav-Bar-menu {
      display: none;
    }
    
}
