.header {
    height: 34vw;
    margin: 30px auto;
    background: url(../../../assets/header_img.png) no-repeat;
    background-size: contain;
    position: relative;
}
.header-content {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    left: 6vw;
    gap: 1.5vw;
    animation: fadeIn 3s;
}
.header-content h2 {
    font-size: max(2.5vw, 22px);
    color: #fff;
}
.header-content p {
    font-size: 1.5vw;
    color: #fff;
}
.header-content button {
    padding: 0.5vw 1.5vw;
    font-size: 1.5vw;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width:1050px) {

    .header-content {
        max-width: 45%;
        
    }

}
@media (max-width: 750px) {
    .header-content {
        max-width: 55%;
    }
    .header-content p {
        display: none;
    }
    .header-content button {
        padding: 2vw 4vw;
    }

}